* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: 'Goblin One', cursive;*/
  /*font-family: 'Permanent Marker', cursive;*/
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 10%;
  background: transparent;
}

.logo{
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.navlist{
  display: flex;
}

.navlist a{
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}

.navlist a:hover{
  border-bottom: 2px solid white;
}

#menu-icon{
  color: white;
  font-size: 25px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-image: url("img/bg.jpg");
  background-size: cover;
  /*background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);*/
  /*background: linear-gradient(245.59deg, #4d9559, #38703d 28.53%, #133917 75.52%);*/
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2rem;
}

section{
  padding: 0 19%;
}

.hero-text h5{
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}

.hero-text h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  line-height: 1;
  color: white;
  margin: 0 0 35px;
}

.hero-text h4{
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.hero-text p{
  color: white;
  font-size: 11px;
  line-height: 1.9;
  margin-bottom: 40px;
}

.hero-img{
  margin-top: 85px;
}

.hero-img img{
  margin-top: 50px;
  width: 650px;
  height: auto;
}


.hero-text a{
  display: inline-block;
  color: white;
  background: rgb(78,201,240);
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;

}

.hero-text a:hover{
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.hero-text a.ctaa{
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}

.hero-text a.ctaa #faPlay{
  vertical-align: middle;
  margin-right: 2px;
}

.hero-text a.ctaa:hover{
  background-color: rgb(78,201,240);
}

.icons{
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.icons a{
  display: block;
  margin: 26px 0;
  font-size: 20px;
  color: white;
  transition: all .5s;
}

.icons a:hover{
  color: rgb(78,201,240);
  transform: translateY(-5px);
}

.scroll-down{
  position: absolute;
  bottom: 6%;
  right: 9%;
}

.scroll-down #i{
  display: block;
  padding: 12px;
  font-size: 18px;
  color: white;
  background: rgb(78,201,240);
  border-radius: 30px;
  transition: all .5s ease;
}

.scroll-down #i:hover{
  transform: translateY(-5px);
}

@media (max-width: 1735px) {
  .hero-img img{
    width: 550px;
    height: auto;
  }

  header{
    padding: 15px 3%;
    transition: .4s;
  }

  .icons{
    padding: 0 3%;
    transition: .5s;
  }

  .scroll-down{
    right: 3%;
    transition: .5s;
  }

}

@media (max-width: 1535px) {
  .hero-img img{
    width: 45vh;
    height: auto;
  }

  header{
    padding: 15px 3%;
    transition: .4s;
  }

  .icons{
    padding: 0 3%;
    transition: .5s;
  }

  .scroll-down{
    right: 3%;
    transition: .5s;
  }

}

@media (max-width: 1460px){
  .hero-img img{
    width: 85%;
    height: auto;
  }

  section{
    padding: 0 12%;
    transition: .5s;
  }

}

@media (max-width: 1366px){
  .hero-img img{
    width: 45vh;
    height: auto;
  }

  .hero-text h1{
    font-size: 65px;
    margin: 0 0 30px;
  }

  .hero-text h5{
    margin-bottom: 25px;
  }
}

@media (max-width: 1195px){
  section{
    padding: 0 3%;
    transition: .5s;
  }

  .hero-text{
    padding-top: 115px;
  }

  .hero-img{
    text-align: center;
  }

  .hero-img img{
    margin: 0;
    width: 80vh;
    height: auto;
  }

  .hero{
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .icons{
    display: none;
  }

  .scroll-down{
    display: none;
  }
}

@media (max-width: 990px) {

  #menu-icon{
    display: block;
  }

  .navlist{
    position: absolute;
    top: 100%;
    width: 300px;
    height: 40vh;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    opacity: 0.8;
    /*background: linear-gradient(245.59deg, #4d9559, #38703d 28.53%, #133917 75.52%);*/
    transition: all .55s ease;
  }

  .navlist a {
    display: block;
    margin: 7px 0;
  }

  .navlist.open{
    right: 0;
  }
}

@media (max-width: 680px) {
  .hero-img img{
    margin: 0;
    width: 100%;
    height: auto;
  }
}
